/* ------------------ */
/* Custom properties */
/* ------------------ */

:root {
   --primary: #53b3ef;
   --secondary: #3ea9eb;
   --gray: #bbc5cf;
   --dark-gray: #464646;
   --light: #ffffff;
}

/* ------------------ */
/* Reset */
/* ------------------ */

/* Box sizing */

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
   margin: 0;
}

/* images */
img,
picture {
   max-width: 100%;
   display: block;
}

/* forms elements */
input,
button,
textarea,
select {
   font: inherit;
}

/* ---------------
------STYLING-----
------------------*/

body {
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--primary);
   min-height: 100vh;
}

.wrapper {
   width: 420px;
   background: #fff;
   border-radius: 7px;
   padding: 28px 28px 45px;
}

.wrapper header {
   font-size: 28px;
   font-weight: 500;
   text-align: center;
}

.wrapper .search {
   margin: 35px 0 18px;
   position: relative;
}

.search input {
   height: 53px;
   width: 100%;
   outline: none;
   font-size: 16px;
   padding: 0 42px;
   border-radius: 5px;
   border: 1px solid #999;
}

.search input:focus {
   padding: 0 41px;
   border: 2px solid var(--primary);
}

.search input::placeholder {
   color: #b8b8b8;
}

.search :where(i) {
   position: absolute;
   top: 50%;
   color: #999;
   transform: translateY(-50%);
}

.search i.fa-search {
   left: 18px;
   font-size: 16px;
   pointer-events: none;
}

.search input:focus ~ i.fa-search {
   color: var(--primary);
}

.wrapper .info-text {
   font-size: 13px;
   color: #9a9a9a;
   margin: -3px 0 -10px;
}

.wrapper.active .info-text {
   display: none;
}

.info-text span {
   font-weight: 500;
}

.wrapper ul {
   height: 0;
   opacity: 0;
   overflow: hidden;
   transition: all 200ms ease;
}

.wrapper.active ul {
   height: 303px;
   opacity: 1;
}

.search i.fa-x {
   right: 15px;
   font-size: 18px;
   cursor: pointer;
   display: none;
}

.search input:valid ~ i.fa-x {
   display: block;
}

.wrapper ul li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 14px;
   padding-bottom: 17px;
   border-bottom: 1px solid #ccc;
}

ul li:last-child {
   margin-bottom: 0px;
   padding-bottom: 0px;
   border-bottom: 0px;
}

ul .word p {
   font-size: 22px;
   font-weight: 500;
}

ul .word span {
   font-size: 12px;
   color: #989898;
}

ul .word i {
   cursor: pointer;
   font-size: 15px;
   color: #999;
}

ul .content {
   max-height: 215px;
   overflow: auto;
   padding-right: 10px;
}

ul .content::-webkit-scrollbar {
   width: 8px;
}

ul .content::-webkit-scrollbar-track {
   background: #fff;
}

ul .content::-webkit-scrollbar-thumb {
   background: #ccc;
   border-radius: 10px;
}

.content li .details {
   padding-left: 20px;
   border-radius: 4px 0 0 4px;
   border-left: 3px solid var(--primary);
}

.content li .details p {
   font-size: 17px;
   font-weight: 500;
}

.content li .details span {
   font-size: 15px;
   color: #7e7e7e;
}

.synonyms .details {
   display: none;
}

.synonyms .details .list {
   display: flex;
   flex-wrap: wrap;
}

.synonyms .details .list span {
   cursor: pointer;
   margin-right: 5px;
   text-decoration: underline;
}
